
.header{
    width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  padding: 0.5px 0;
  border-bottom: rgba(0, 0, 0, 0.122) solid 0.5px;
}
.header-text{
    color: #404258;
    font-family: 'Courier New', monospace;
    padding-left: 15px;
}
.line
{
  height: 1px;
  background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
  opacity: .1;
  width: 100%;
}
.line-bottom{max-width: 900px;
    max-height: 1750px;
    border: #bfa161 solid 3px;
    margin: 0 auto;
}
.pomodoro_button{
    background-color: #ff5a5a;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.pomodoro_button:hover {
    opacity: 0.8;
}

.pomodoro_button:active {
    opacity: 0.5;
}

.short_break_button{
    background-color: #ff5a5a;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.short_break_button:hover {
    opacity: 0.8;
}

.short_break_button:active {
    opacity: 0.5;
}

.long_break_button{
    background-color: #ff5a5a;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.long_break_button:hover {
    opacity: 0.8;
}

.long_break_button:active {
    opacity: 0.5;
}

.start_button{
    background-color: #404258;
    border: none;
    color: white;
    height: 36px;
    width: 100%;
    margin-top: 1em;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

.stop_button{
 
    background-color: #5f5f5f;
    border: none;
    color: white;
    height: 36px;
    width: 100%;
    margin-top: 1em;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
body, html{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}

body {
    background-color: #f5f8fc;
}

.counter {
    font-size:6rem;
    text-align: center;
    color: #ff5a5a;
}

p{
    margin: 0;
}


.add_finish_button{
    display: flex;
    justify-content: center;
    height: 36px;


}

.task_input{
    height: 36px;
    box-sizing: border-box;
    background-color: white;
    border-color: #ff5a5a;
    border-style: solid;
    color: #ff5a5a;
    width: 100%;
    opacity: 0.8;
    display: block;
}
.add_task_button{
    cursor: pointer;
    flex: 1 0 50%;
    margin-right: 0.5em;
}

.finished_button{
    margin-top: 0.5em;
    flex: 1 0 50%;
    border: none;
    color: white;
    height: 36px;
    display: none;
    background-color: #404258;
cursor: pointer;
  flex: 1 0 50%;
  box-sizing: border-box;
    width: 100%;
}

.pause_button{
    margin-top: 0.5em;
    flex: 1 0 50%;
    background-color: #404258;
    border: none;
    color: white;
    height: 36px;
    display: none;
    box-sizing: border-box;
    width: 100%;
}

::placeholder{
    color: #ff5a5a;
    font-size: medium;
    opacity: none;

}
