.pomodoro_button{
    background-color: #FFD1D1;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.pomodoro_button:hover {
    opacity: 0.8;
}

.pomodoro_button:active {
    opacity: 0.5;
}

.short_break_button{
    background-color: #FFD1D1;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.short_break_button:hover {
    opacity: 0.8;
}

.short_break_button:active {
    opacity: 0.5;
}

.long_break_button{
    background-color: #FFD1D1;
    border: none;
    color: white;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
}
.long_break_button:hover {
    opacity: 0.8;
}

.long_break_button:active {
    opacity: 0.5;
}

.start_button{
    background-color: #FFB996;
    border: none;
    color: white;
    height: 36px;
    width: 100%;
    margin-top: 1em;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

.stop_button{
 
    background-color: #5f5f5f;
    border: none;
    color: white;
    height: 36px;
    width: 100%;
    margin-top: 1em;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
body, html{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}

body {
    background-color: #FFF5E4;
}

.counter {
    font-size:6rem;
    text-align: center;
    color: #FF9494;
}

p{
    margin: 0;
}


.add_finish_button{
    display: flex;
    justify-content: center;
    height: 36px;


}

.task-input{
    height: 36px;
    box-sizing: border-box;
    background-color: #FFCF81;
    border-color: #E78895;
    border-style: solid;
    color: white;
    width: 100%;
    opacity: 0.8;
    display: block;
}
.add_task_button{
    cursor: pointer;
    flex: 1 0 50%;
    margin-right: 0.5em;
}

.finished_button{
    margin-top: 0.5em;
    flex: 1 0 50%;
    border: none;
    color: white;
    height: 36px;
    display: none;
    background-color: #FFCF81;
cursor: pointer;
  flex: 1 0 50%;
  box-sizing: border-box;
    width: 100%;
}

.pause_button{
    margin-top: 0.5em;
    flex: 1 0 50%;
    background-color: #FFB996;
    border: none;
    color: white;
    height: 36px;
    display: none;
    box-sizing: border-box;
    width: 100%;
}

::placeholder{
    color: white;
    font-size: medium;
    opacity: none;

}
